@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px #000;
}

.header > h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.btn {
    text-transform: uppercase;
    background-color: #f0f8ff;
    border: none;
    width: 8rem;
    height: 3rem;
    margin-bottom: 2rem;
}

.btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}